<div class="col-sm-9">
  <hr>
  <img src="assets/images/coding.jpg" alt="code_photo" width="100%">
  <hr>
  <h1>Quick Sort</h1>
  <h4>This sorting algorithm follows the principle of divide and conquer. It picks an element in the list (traditionally the first or last) and considers it a partition that is used to place items of the list that are of smaller value into a new list and items of larger value into a new list . This partition process is repeated until the newly created list of partitioned items are an individual item and the list is reconstructed from the individual items in a sorted order.</h4>
  <h1>Process</h1>
  <h4>1. Find your pivot position using the partition</h4>
  <h4>2. Place items in the list that are smaller in the partition in a new list and items that are larger in a new list.</h4>
  <h4>3. Repeat steps 1-2 until the list is split into individual items based on newly created partitions from the created lists.</h4>
  <h4>4. Reassemble the list in the ordered fashion.</h4>
  <hr>
  <h1>Complexities</h1>
  <h4>Time Complexity - O(Log(N))</h4>
  <hr>
  <br><br>
</div>
