<div class="col-sm-9">
  <hr>
  <img src="assets/images/coding.jpg" alt="code_photo" width="100%">
  <hr>
  <h1>Bubble Sort</h1>
  <h4>This sorting algorithm compares two adjacent items in list and checks which one is smaller, if the one on the right is smaller, then the items swap places. It then moves down the list and compares each adjacent pairs and continuously passes until all items are sorted.</h4>
  <h1>Process</h1>
  <h4>1. Compare the first two items in the list, if they are not ordered, then swap their positions in the list.</h4>
  <h4>2. Move one index down the list and compare the next two items, again comparing and swapping if they are not in order.</h4>
  <h4>3. Continue down the list until all adjacent items have been compared.</h4>
  <h4>4. Repeat steps 1-3 until every compared items in the list are in the correct order</h4>
  <hr>
  <h1>Complexities</h1>
  <h4>Time Complexity - O(N^2)</h4>
  <hr>
  <br><br>
</div>
