<div class="col-sm-9">
  <hr>
  <img src="assets/images/coding.jpg" alt="code_photo" width="100%">
  <hr>
  <h1>Overview</h1>
  <p>This Web application was created for the intent and purpose of helping others understand and study commonly occurring algorithms and their corresponding complexities that an early learning Computer Programmer can encounter.</p>
  <hr>
  <h1>Main Mission</h1>
  <p>Throughout all of the different programming languages, the one thing that remains consistent throughout is common ideas and how to implement these ideas. Algorithms are intended to show how to achieve certain tasks and are most generally shown in pseudocode, or a way of showing the logic of writing code without worrying about syntax errors.</p>
  <hr>
  <br><br>
