<div class="col-sm-9">
  <hr>
  <img src="assets/images/coding.jpg" alt="code_photo" width="100%">
  <hr>
  <h1>Insertion Sort</h1>
  <h4>This sorting algorithm iterates through the list and compare the current item to previous items in the list until the list is ordered.</h4>
  <h4>1. Iterate from the start of the list.</h4>
  <h4>2. As you iterate through items, compare the current item to its previous item, if the prevous item is larger, then swap them.</h4>
  <h4>3. The current item will continue to compare previous items and swap until the previous item is no longer larger than it.</h4>
  <h4>4. The list then iterates to a new current item at the index after the original position of the previous current item.</h4>
  <h4>5. The process ends once the entire list has been iterated through and will leave a sorted list.</h4>
  <hr>
  <h1>Complexities</h1>
  <h4>Time Complexity - O(N^2)</h4>
  <hr>
  <br><br>
</div>
