<html lang="en">
<head>
  <title>Algorithms and Complexities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <hr>
      <h3>Algorithms and Complexities</h3>
      <hr>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="https://daylanq10.github.io/home-info">Home</a></li>
        <hr>
        <h4>Searching Algorithms</h4>
        <li><a href="/linear-search">Linear Search</a></li>
        <li><a href="/binary-search">Binary Search</a></li>
        <hr>
        <h4>Sorting Algorithms</h4>
        <li><a href="/selection-sort">Selection Sort</a></li>
        <li><a href="/insertion-sort">Insertion Sort</a></li>
        <li><a href="/bubble-sort">Bubble Sort</a></li>
        <li><a href="/merge-sort">Merge Sort</a></li>
        <li><a href="/quick-sort">Quick Sort</a></li>

      </ul><br>
    </div>

    <div>
      <h1>Hello! Please refer to navigation on left to continue.</h1>

      <router-outlet></router-outlet>

      <hr>
      <h5> Created by Daylan Quinn, UMKC Undergraduate Comp-Sci Student.</h5>
      <p><span class="glyphicon glyphicon-time"></span> November 30, 2020</p>
      <hr>

    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>This Website was created for academic access</p>
</footer>

</body>


