<div class="col-sm-9">
  <hr>
  <img src="assets/images/coding.jpg" alt="code_photo" width="100%">
  <hr>
  <h1>Selection Sort</h1>
  <h4>This sorting algorithm used an original unsorted list which it iterates through and creates a sub list of the sorted elements</h4>
  <h1>Process</h1>
  <h4>1. Iterate through the original list and place the minimum item in the new sorted list.</h4>
  <h4>2. Remove the minimum item from the original list.</h4>
  <h4>3. Repeat steps 1 and 2 until the original list is empty and the sorted list contains all sorted items.</h4>
  <hr>
  <h1>Complexities</h1>
  <h4>Time Complexity - O(N^2)</h4>
  <hr>
  <br><br>
</div>
