<div class="col-sm-9">
  <hr>
  <img src="assets/images/coding.jpg" alt="code_photo" width="100%">
  <hr>
  <h1>Linear Search</h1>
  <h4>This search algorithm is a simple approach to finding an item in an array or list that iterates each individual item until a result is found or not found</h4>
  <h1>Process</h1>
  <h4>1. Start with the left most item in the list.</h4>
  <h4>2. Iterate across the list until the desired item is found.</h4>
  <h4>3. If the item is found, return the index.</h4>
  <h4>4. If the item is not in the list, return -1.</h4>
  <hr>
  <h1>Complexities</h1>
  <h4>Time Complexity - O(N)</h4>
  <hr>
  <br><br>
</div>
